$clr-dark: rgb(196, 200, 202);
$clr-light: #fff;
$clr-black: rgb(0, 0, 0);
$clr-red: rgb(226, 13, 13);
$clr-accent: rgb(214, 208, 208);
$clr-lightdark: rgb(24, 25, 26);
$clr-sky: rgb(30, 144, 255);
$clr-ocean: rgb(34, 83, 242);
$pad-content: 1.2rem;
$ft-title: 1.1rem;
$ft-weight: 500;
$ft-weight-title: 700;
$ft-btn: 0.7rem;
$ft-des: 0.8rem;
$ft-loc: 0.6rem;